[build-system]
requires = ["setuptools>=67.5"]
build-backend = "setuptools.build_meta"

[project]
name = "archinstall"
dynamic = ["version", "entry-points", "license"]
description = "Arch Linux installer - guided, templates etc."
authors = [
    {name = "Anton Hvornum", email = "anton@hvornum.se"},
]
readme = "README.md"
requires-python = ">=3.10"

keywords = ["linux", "arch", "archinstall", "installer"]

classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: POSIX :: Linux",
]

[project.urls]
Home = "https://archlinux.org"
Documentation = "https://archinstall.readthedocs.io/"
Source = "https://github.com/archlinux/archinstall"

[project.scripts]
archinstall = "archinstall:run_as_a_module"

[project.optional-dependencies]
doc = ["sphinx"]

[tool.setuptools.package-data]
archinstall = [
    "examples/*.py",
    "profiles/*.py",
    "profiles/applications/*.py"
]

[tool.mypy]
python_version = "3.10"
exclude = "tests"

[tool.bandit]
targets = ["archinstall"]
exclude = ["/tests"]
