on: [ push, pull_request ]
name: mypy type checking
jobs:
    mypy:
        runs-on: ubuntu-latest
        container:
            image: archlinux/archlinux:latest
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
            - name: Prepare arch
              run: |
                pacman-key --init
                pacman --noconfirm -Sy archlinux-keyring
                pacman --noconfirm -Syyu
                pacman --noconfirm -Sy python-pip python-pyparted pkgconfig gcc
            - run: pip install --break-system-packages --upgrade pip
            # this will install the exact version of mypy that is in the pyproject.toml file
            - name: Install archinstall dependencies
              run: pip install --break-system-packages .[dev]
            - run: python --version
            - run: mypy --version
            - name: run mypy
              run: mypy --config-file pyproject.toml
