on: [ push, pull_request ]
name: mypy type checking
jobs:
    mypy:
        runs-on: ubuntu-latest
        container:
            image: archlinux:latest
        steps:
            - uses: actions/checkout@v2
            - run: pacman --noconfirm -Syu python mypy python-pip
            - run: python -m pip install --upgrade pip
            - run: pip install fastapi pydantic
            - run: python --version
            - run: mypy --version
            # one day this will be enabled
              # run: mypy --strict --module archinstall || exit 0
            - name: run mypy
              run: mypy --follow-imports=skip archinstall/lib/menu/selection_menu.py archinstall/lib/models/network_configuration.py archinstall/lib/menu/list_manager.py archinstall/lib/user_interaction/network_conf.py
