on: [ push, pull_request ]
name: mypy type checking
jobs:
    mypy:
        runs-on: ubuntu-latest
        container:
            image: archlinux:latest
        steps:
            - uses: actions/checkout@v3
            - run: pacman --noconfirm -Syu python mypy python-pip
            - run: pip install --break-system-packages --upgrade pip
            - run: pip install --break-system-packages fastapi pydantic
            - run: python --version
            - run: mypy --version
            # one day this will be enabled
              # run: mypy --strict --module archinstall || exit 0
            - name: run mypy
              run: mypy --config-file pyproject.toml
