on: [ push, pull_request ]
name: Pylint linting
jobs:
    pylint:
        runs-on: ubuntu-latest
        container:
            image: archlinux/archlinux:latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Prepare arch
              run: |
                pacman-key --init
                pacman --noconfirm -Sy archlinux-keyring
                pacman --noconfirm -Syyu
                pacman --noconfirm -Sy python-pip python-pyparted pkgconfig gcc
            - run: pip install --break-system-packages --upgrade pip
            - name: Install Pylint
              run: pip install --break-system-packages .[dev]
            - run: python --version
            - run: pylint --version
            - name: Lint with Pylint
              run: pylint .
