on: [ push, pull_request ]
name: pytest test validation
jobs:
    pytest:
        runs-on: ubuntu-latest
        container:
            image: archlinux/archlinux:latest
            options: --privileged
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - name: Prepare arch
              run: |
                pacman-key --init
                pacman --noconfirm -Sy archlinux-keyring
                pacman --noconfirm -Syyu
                pacman --noconfirm -Sy python-pip python-pyparted pkgconfig gcc
            - run: pip install --break-system-packages --upgrade pip
            - name: Install archinstall dependencies
              run: pip install --break-system-packages .[dev]
            - name: Test with pytest
              run: pytest
