# This workflow will upload a Python Package when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload archinstall to PyPi

on:
  release:
    types: [ published ]

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
    container:
      image: archlinux/archlinux:latest
      options: --privileged
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Prepare arch
        run: |
          pacman-key --init
          pacman --noconfirm -Sy archlinux-keyring
          pacman --noconfirm -Syyu
          pacman --noconfirm -Sy python python-uv python-setuptools python-pip python-pyparted python-pydantic
      - name: Build archinstall
        run: |
          uv build --no-build-isolation --wheel
      - name: Publish archinstall to PyPi
        run: |
          uv publish --trusted-publishing always
