on: [ push, pull_request ]
name: ruff check linting
jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
            - uses: astral-sh/ruff-action@57714a7c8a2e59f32539362ba31877a1957dded1  # v3.5.1
